.settings-button{
    border: 1px solid white;
    background: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    transition: 0.3s;
}
.settings-button:hover{
    opacity: 0.8;
}
.settings-button-container{
    margin-bottom: 15px;
    margin-right: 15px;
}